@font-face {
  font-family: 'mplus-1p-regular';
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.eot");
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.eot?#iefix") format('embedded-opentype'), url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.woff") format('woff'), url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.ttf") format('truetype');
}
html,
body,
div {
  margin: 0px;
  padding: 0px;
  font-family: 'mplus-1p-regular';
}
p,
img,
video {
  user-select: none;
}
#canvas-container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#source-container {
  font-size: 3em;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  height: 100%;
}
#model-source {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}
div#paragraph-root {
  pointer-events: none;
  position: absolute;
  z-index: 10;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.title-text {
  color: #9c8c69;
  font-size: 36px;
  text-align: center;
  bottom: 120px;
  position: absolute;
  left: 0px;
  right: 0px;
}
.align-right {
  text-align: right;
}
.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
}
.center-text {
  font-size: 7em;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  opacity: 0.7;
}
.center-text-black {
  font-size: 7em;
  color: #000;
  text-shadow: 1px 1px 2px #000;
  opacity: 0.7;
}
.fullscreen-video {
  width: 100%;
  height: 100%;
}
.fullscreen-container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.describe-logo {
  width: 512px;
  margin: 0 auto;
}
.describe-container {
  display: flex;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  justify-content: space-between;
}
.describe-container .describe-inner-container {
  display: flex;
  flex-direction: column;
  width: 33%;
  text-align: center;
}
.describe-container .describe-inner-container.bottom-align {
  flex-direction: column-reverse;
}
.describe-container .describe-inner-container img {
  width: 40%;
}
.future-container>div {
  margin: 0 auto;
}
.future-container img {
  position: absolute;
  width: 512px;
  margin: 0 auto;
  display: block;
  transform: translate(-50%, -50%);
}
.fusion-root {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.fusion-root .logo-root {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
}
.fusion-root .logo-root .logo-inner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.fusion-root .fusion-logo {
  width: 512px;
  height: 512px;
}
.fusion-root .fusion-subtitle {
  color: #000;
  font-size: 45px;
}
.fusion-root .fusion-root-child {
  width: 50%;
  height: 100%;
  padding: 20px;
}
.fusion-root .fusion-root-child img {
  width: 512px;
}
