.slide-container
    position fixed
    left 0px
    right 0px
    top 0px
    bottom 0px
    overflow scroll

font-size-larger = 6vw
font-size-large = 5vw
font-size-medium = 3vw
font-size-small = 2vw

text-white()
    color white
    text-shadow 1px 1px 2px #000
text-highlight()
    color yellow
    text-shadow 1px 1px 2px #000
text-black()
    color black
    text-shadow 1px 1px 2px #FFF

.markdown-container
    text-white()
    h1
        font-size font-size-large
    li
        font-size font-size-small
        margin 10px 0px
    strong
        text-highlight()
    a
        color white

.slide-md-container
    margin 3vw
    h1
        margin 0px
        font-size font-size-larger
    li
        margin-left 3vw
        margin-bottom 2vh
        font-size font-size-medium
