.slide-container
    position fixed
    left 0px
    right 0px
    top 0px
    bottom 0px

font-size-larger = 6vw
font-size-large = 5vw
font-size-medium = 4vw
font-size-small = 3vw

text-white():
    color white
    text-shadow 1px 1px 2px #000
text-black():
    color black
    text-shadow 1px 1px 2px #FFF

.markdown-container
    text-white()
    font-size font-size-large
